PL/Connected Services/ServiceProducto/Producto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Producto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15411/Producto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15411/Producto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15411/Producto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ML" />
      <xsd:import schemaLocation="http://localhost:15411/Producto.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SL_WCF" />
      <xsd:import schemaLocation="http://localhost:15411/Producto.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:15411/Producto.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProducto_ProductoAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductoAdd" />
  </wsdl:message>
  <wsdl:message name="IProducto_ProductoAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductoAddResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_ProductoUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductoUpdate" />
  </wsdl:message>
  <wsdl:message name="IProducto_ProductoUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductoUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_ProductoDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductoDelete" />
  </wsdl:message>
  <wsdl:message name="IProducto_ProductoDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductoDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_ProductoGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductoGetAll" />
  </wsdl:message>
  <wsdl:message name="IProducto_ProductoGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductoGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_ProductoGetById_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductoGetById" />
  </wsdl:message>
  <wsdl:message name="IProducto_ProductoGetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductoGetByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IProducto">
    <wsdl:operation name="ProductoAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto/ProductoAdd" message="tns:IProducto_ProductoAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto/ProductoAddResponse" message="tns:IProducto_ProductoAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductoUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto/ProductoUpdate" message="tns:IProducto_ProductoUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto/ProductoUpdateResponse" message="tns:IProducto_ProductoUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductoDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto/ProductoDelete" message="tns:IProducto_ProductoDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto/ProductoDeleteResponse" message="tns:IProducto_ProductoDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductoGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto/ProductoGetAll" message="tns:IProducto_ProductoGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto/ProductoGetAllResponse" message="tns:IProducto_ProductoGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductoGetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto/ProductoGetById" message="tns:IProducto_ProductoGetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto/ProductoGetByIdResponse" message="tns:IProducto_ProductoGetById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProducto" type="tns:IProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProductoAdd">
      <soap:operation soapAction="http://tempuri.org/IProducto/ProductoAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoUpdate">
      <soap:operation soapAction="http://tempuri.org/IProducto/ProductoUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoDelete">
      <soap:operation soapAction="http://tempuri.org/IProducto/ProductoDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoGetAll">
      <soap:operation soapAction="http://tempuri.org/IProducto/ProductoGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoGetById">
      <soap:operation soapAction="http://tempuri.org/IProducto/ProductoGetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Producto">
    <wsdl:port name="BasicHttpBinding_IProducto" binding="tns:BasicHttpBinding_IProducto">
      <soap:address location="http://localhost:15411/Producto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>